.btn-xl {
  width: 130px;
  height: 130px;
  padding: 20px 16px;
  border-radius: 50%;
  display: table;
  margin: 0 auto;
}
.btn:focus {
  outline: none;
}
.fa {
	line-height: inherit;
	text-align: center;
}
a:hover {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
body {
	background-color: #F26555;
	padding-bottom: 5px;
}
h1 {
	color: white;
	text-shadow: 3px 5px 4px #D95B4C;
	font-size: 500%;
	text-align: center;
	font-family: pacifico;
	margin-top: 10px;
}
h2 {
	text-align: center;
	color: white;
	text-shadow: 2px 4px 3px #D95B4C;
}
h3 {
	text-align: center;
	color: white;
}